*{
    margin: 0;
    padding: 0;
}
body{
    height: 8500px;
}
.body{
    height: 8225px;
}
.img{
    height: 430px;
    background-color: black;
    color: white;
}
.wrapper{
    height: 120px;
    background-color: brown;
display: flex;

   
}
.wrapper h2{
    width: 100%;
    height: 25%;
    text-align: center;
    padding: 40px;
}
.container{
    height: 8500px;
    width: 100vw;
    background-color: blanchedalmond;
}
.header{
    height: 200px;
}

.header p{
    background-color: red;
}
.header-middle{
    height: 40%;
    background-color: cadetblue;
}
.navbar{
    height: 20%;
    background-color: blue;
}
.footer{
    height: 225px;
    background-color: darkblue;
   color: white;
   font-size: 100px;
}